streamlit==1.28.1
pandas
openai-whisper
transformers
torch
pydantic
requests
vosk
pydub
reportlab
groq
pyannote.audio
opencv-python-headless
plotly
pyaudio
passlib
soundfile
numpy
scipy
streamlit-audiorec
jiwer
rouge-score
nltk
